################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/PowerUp.Tests/bin/Debug/net5.0
/.vs/PowerUp
/PowerUp.Tests/obj
/src/PowerUp.Console/bin/Debug/netcoreapp3.1
/src/PowerUp.Console/obj
/src/PowerUp.Core/bin/Debug
/src/PowerUp.Core/obj
/src/PowerUp.Tests/bin/Debug/net5.0
/src/PowerUp.Tests/obj
/CompilerWatcher/bin/Debug/net5.0
/CompilerWatcher/obj
/PowerUp.Common/bin/Debug/netstandard2.0
/src/PowerUp.Core/bin/Release
/src/PowerUp.Tests/bin
/src/PowerUp.Watcher/bin/Debug/net5.0
/src/PowerUp.Watcher/obj
/src/PowerUp.Watcher/bin
/.idea
