name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: CheckForAssemblies
      run: Get-ChildItem -Directory -Recurse -Depth 2
    - name: CheckForAssemblies2
      run: Get-ChildItem -Directory -Recurse -Depth 2
      working-directory: C:\Program Files\dotnet
